<a href="https://colab.research.google.com/github/HariniBezawada/GENERATIVE-AI-PROJECTS/blob/main/TIMETABLE1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

import random

print("TIMETABLE GENERATOR\n")

#User Inputs

subjects_input = input("Enter subjects (comma separated): ")

days_input = input("Enter days (comma separated): ")

periods_per_day= int(input("Enter number of periods per day: "))

#Process Inputs

subjects = [s.strip() for s in subjects_input.split(",") if s.strip()]
days = [d.strip() for d in days_input.split(",") if d.strip()]

# Validation

if not subjects or not days or periods_per_day <= 0:
    print("Invalid input. Please try again.")

else:

    timetable = {}

    for day in days:

        timetable[day] = random.choices(subjects, k=periods_per_day)

    # Create DataFrame

    df = pd.DataFrame(timetable)

    df.index = [f"Period {i+1}" for i in range(periods_per_day)]

    print("\nTimetable Generated Successfully\n")

    display(df)

    #Save timetable

    df.to_csv("timetable.csv")

    print("\nTimetable saved as timetable.csv")

TIMETABLE GENERATOR

Enter subjects (comma separated): P&s,DBMS,OT,DLCO,ML
Enter days (comma separated): MONDAY,TUESDAY,WEDNESDAY,THURSDAY,FRIDAY,
Enter number of periods per day: 8

Timetable Generated Successfully

         MONDAY TUESDAY WEDNESDAY THURSDAY FRIDAY
Period 1    P&s     P&s        ML       OT     ML
Period 2   DBMS     P&s       P&s      P&s   DLCO
Period 3     OT    DLCO       P&s       OT   DBMS
Period 4   DLCO     P&s        ML       ML     OT
Period 5   DBMS    DLCO        ML       ML     OT
Period 6    P&s     P&s      DBMS      P&s     ML
Period 7   DBMS      ML      DBMS       ML   DLCO
Period 8    P&s     P&s      DLCO       OT     OT

Timetable saved as timetable.csv